<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="d-flex justify-content-end">
    <a href="/finance/new" class="btn btn-primary mt-3 mb-3"><i class="bi bi-plus-lg me-3"></i>Nova receita</a>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Tipo</th>
        <th scope="col">Valor</th>
        <th scope="col">Data</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    <tr>
      <h5>Filtros</h5>
      <div class="container mt-3">
        <form class="row g-2" action="/finances" method="post">
            <!-- Select Tipo de Receita -->
            <div class="col-6 col-md-2">
                <label for="tipoReceita" class="form-label visually-hidden">Tipo</label>
                <select class="form-select" id="tipoReceita" name="tipoReceita">
                    <option value="ambos">Ambos</option>
                    <option value="receita">Receita</option>
                    <option value="despesa">Despesa</option>
                </select>
            </div>

            <!-- Select Maiores ou Menores -->
            <div class="col-6 col-md-2">
                <label for="valorFiltro" class="form-label visually-hidden">Valor</label>
                <select class="form-select" id="valorFiltro" name="valorFiltro">
                    <option value="nulo">Nulo</option>
                    <option value="maiores">Maiores</option>
                    <option value="menores">Menores</option>
                </select>
            </div>

            <!-- Input Data Início -->
            <div class="col-6 col-md-3">
                <label for="dataInicio" class="form-label visually-hidden">Data Início</label>
                <input type="date" class="form-control" id="dataInicio" name="dataInicio" placeholder="Início">
            </div>

            <!-- Input Data Fim -->
            <div class="col-6 col-md-3">
                <label for="dataFim" class="form-label visually-hidden">Data Fim</label>
                <input type="date" class="form-control" id="dataFim" name="dataFim" placeholder="Fim">
            </div>
            
            <!-- Botão Filtrar -->
            <div class="col-12 col-md-2 d-grid">
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </form>
    </div>
    </tr>
    </thead>
    <h3>Receitas</h3>
    <tbody>
        <% financas.forEach((financa)=>{ %>
          <tr>
            <td><%= financa.id %></td>
            <td><%= financa.tipo %></td>
            <td><%= financa.valor, " R$" %></td>
            <td>
                <% 
                  const dataObj = new Date(financa.data); 
                  const dia = String(dataObj.getDate()).padStart(2, '0');
                  const mes = String(dataObj.getMonth() + 1).padStart(2, '0');
                  const ano = dataObj.getFullYear();
                  const dataFormatada = `${dia}/${mes}/${ano}`;
                %>
                <%= dataFormatada %>
              </td>
            <th scope="col"><a href=<%= `/finance/${financa.id}/update` %> class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Editar</a>
            </th>
                <th scope="col"><a class="delete-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href=<%= `/finance/${financa.id}/delete` %>>Excluir</a>
            </th>
          </tr>
        <% })%>
    </tbody>
</table>
<%- include("partials/footer") %>